* {
  /*border: 1px solid red;*/
}

html {
  background: #000;
}

p, h1, div, html, body {
  font-family: 'Oswald', sans-serif;
}

ul {
  padding: 5px 0 5px 15px;
}


body {
  background-image: url('../img/tile-paper.jpg');
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fullsize {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nomargin {
  margin: 0;
}

.unpadded {
  padding: 0;
}

.inline {
  display: inline block;
}

.container {
  height: 100%;
}

.picture-box-img, .main-picture-img {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: .5;
  transition: opacity .5s;
}

@media (min-width: 768px) {
  .half-height {
    height: 50%;
  }
}

.picture-box {
  min-height: 270px;
  height: 100%;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  overflow: hidden;
}

/*.unfocused:hover {
  opacity: .75;
  transtion: opacity .5s;
}*/



.unfocused:hover .picture-box-img {
  opacity: .95;
  transition: opacity .5s;
}

.unfocused:hover .main-picture-img {
  opacity: .80;
  transition: opacity .5s;
}


.unfocused:hover .centered-text {
  opacity: 1;
  transition: opacity .5s;
}


.focused {
  opacity: 1 !important;
}

.focused .picture-box-img, .focused .main-picture-img {
  opacity: .8;
  transition: opacity .5s;
}

.focused .item-text {
  margin-top: 5%;
  transition: margin .5s;
}

.focused .detailed-text {
  opacity: 1;
  transition: opacity 1s;
}

.centered {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
  opacity: .8;
  transition: opacity .5s;
}

.main-text {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  margin-top: 21%;
  letter-spacing: 2px;
}

.item-text {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding-left: 10%;
  margin-top: 5%;
  letter-spacing: 1px;
  transition: margin 1s;
}

.detailed-text {
  margin: 10px auto;
  padding: 30px;
  width: 80%;
  text-align: justified;
  color: #fff;
}

.text-container {
  margin: 10px auto;
  padding: 15px;
  width: 80%;
  text-align: justified;
  color: #fff;
}

.text-background {
  z-index: -1;
  position: absolute;
  width: 80%;
  left: 10%;
  background: #222;
  opacity: .8;
  margin: 10px auto;
  height: 225px;
}

.contact-container {
  width: 80%;
  left: 10%;
  margin: 10px auto;
  height: 220px;
}

.contact-item {
  height: 30px;
  margin: 5px auto;
}

.contact-text {
  height: 80px !important;
  margin: 5px auto;
}

.submit-btn {
  width: 60px;
  height: 35px;
}

.contact-item, .contact-text {
  width: 100%;
  background-color: #222;
  color: #fff;
  opacity: .9;
  border: none;
}

.contact-err-msg-container {
  height: 35px !important;
  margin-left: 10px;
  background: #222;
  display: inline;
  padding: 6px;
  border-radius: 4px;
  opacity: .9;
}

.contact-err-msg {
  color: #fff;
}
