footer.footer
  div.container
    div.row
      div.col-md-2.col-md-offset-3.footer-content-container
        p.footer-text ABOUT
        p.footer-text BLOG
      div.col-md-2.footer-content-container
        p.footer-text CONTACT
        p.footer-text HOME
      div.col-md-2.footer-content-container
        p.footer-text Created by
        p.footer-text.normal-weight Brian V
