div(ng-include="'partials/header'")
block contents
  div.home-content-container
    div.row
      div.col-md-12.unpadded.nomargin
        img.main-img(src='img/IMG_1086.JPG')
    div.row
      div.col-md-12.break-area.zigzag-break
    div.row
      div.col-md-12
        p About me!
    div.row
      div.col-md-12.break-area.red-break
        div.centered.whats-new-holder
          img.fullwidth(src='img/whats-new.png')
    div.row.col-md-12
      div.centered.quickview-container
        div.quickview-img-container
          img.quickview-img(src='img/IMG_1086.JPG')
        div.quickview-text-container.quickview-right-text
          div.row
            p.text-center.quickview-text-date 8.10.16
          div.row
            p.text-center.quickview-text-title ROCKS AND MORE ROCKS
          div.row
            p.quickview-text.quickview-text-description There were so many rocks in the Grand tetons! I couldnt handle it. We hiked for miles... There were so many rocks in the Grand tetons! I couldnt handle it. We hiked for miles...

          div.row
            p.text-center Read More
    div.row.col-md-12
      div.centered.quickview-container
        div.quickview-img-container.quickview-right-image
          img.quickview-img(src='img/IMG_1086.JPG')
        div.quickview-text-container
          div.row
            p.text-center.quickview-text-date 8.10.16
          div.row
            p.text-center.quickview-text-title ROCKS AND MORE ROCKS
          div.row
            p.quickview-text.quickview-text-description There were so many rocks in the Grand tetons! I couldnt handle it. We hiked for miles...
          div.row
            p.text-center Read More
  div(ng-include="'partials/footer'")  
