block contents
  div.fullscreen
    div.row.half-height
      div.col-md-4.picture-box.unfocused(ng-click='aboutClicked = !aboutClicked', ng-class='{unfocused: !aboutClicked, focused: aboutClicked}')
        div.fullsize.picture-box-img(style='background-image:url("img/IMG_0933_1.jpg")')
        p.centered.centered-text.item-text ABOUT
        p.centered.detailed-text(ng-if='aboutClicked') PPut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself hereut the details about myself here
      div.col-md-4.picture-box.unfocused 
        div.fullsize.picture-box-img(style='background-image:url("img/IMG_1046_4.jpg")')
        h1.centered.centered-text.main-text BRIAN<br>VODICKA 
      div.col-md-4.picture-box.unfocused
        div.fullsize.picture-box-img(style='background-image:url("img/snow.jpg")')
        p.centered.centered-text.item-text RESUME
    div.row.half-height
      div.col-md-4.picture-box(ng-click='hobbiesClicked = !hobbiesClicked')
        div.fullsize.picture-box-img(style='background-image:url("img/IMG_1046_4.jpg")')
        p.centered.centered-text.item-text HOBBIES
        p.centered.detailed-text(ng-if='hobbiesClicked') Put the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself herePut the details about myself here 
      div.col-md-4.picture-box(ng-click='skillsClicked = !skillsClicked')
        div.fullsize.picture-box-img(style='background-image:url("img/IMG_1046_4.jpg")')
        p.centered.centered-text.item-text SKILLS
        ul.centered.skills-list(ng-if='skillsClicked')
          li SKILL A
          li SKILL A
          li SKILL A
          li SKILL A
          li SKILL A
      div.col-md-4.picture-box
        div.fullsize.picture-box-img(style='background-image:url("img/IMG_1046_4.jpg")')
        p.centered.centered-text.item-text CONTACT
        
