block contents
  div.fullscreen
    div.row.half-height.nomargin
      div.col-md-4.picture-box.unfocused
        div.fullsize.picture-box-img(style='background-image:url("img/hiking_2_2.jpg")')
      div.col-md-4.picture-box.unfocused
        div.fullsize.main-picture-img(style='background-image:url("img/geom-mountain-green.jpg")')
        h1.centered.centered-text.main-text BRIAN<br>VODICKA 
      div.col-md-4.picture-box.unfocused
        div.fullsize.picture-box-img(style='background-image:url("img/IMG_1046_4.jpg")')
    div.row.half-height.nomargin
      div.col-md-4.picture-box(ng-click='aboutClicked = !aboutClicked', ng-class='{unfocused: !aboutClicked, focused: aboutClicked}')
        div.fullsize.picture-box-img(style='background-image:url("img/geom-mountain-red.jpg")')
        p.centered.item-text ABOUT
        div.text-background(ng-if='aboutClicked')
        p.centered.detailed-text(ng-if='aboutClicked') I'm Brian, a Senior at the University of Texas studying CS, Math, and Latin. As a proud nerd, I like to solve challenging problems - preferably with computers. My favorite ares of CS are algorithms and analytics. I'm 21 years old and have worked in healthcare analytics for three years at Accordion. 
 
      //div.col-md-4.picture-box(ng-click='hobbiesClicked = !hobbiesClicked', ng-class='{unfocused: !hobbiesClicked, focused: hobbiesClicked}')
        div.fullsize.picture-box-img(style='background-image:url("img/snow.jpg")')
        p.centered.item-text HOBBIES
        div.text-background(ng-if='hobbiesClicked')
        p.centered.detailed-text(ng-if='hobbiesClicked') I enjoy spending my free time coding or playing sports. I'm a member of the Floppy Disks - the honors computer science ultimate frisbee team, and also enjoy tennis and golf. And as Classics student, I enjoy trying new projects that bridge the gap between technology and the ancient world
    
      div.col-md-4.picture-box(ng-click='contactClicked = true', ng-class='{unfocused: !hobbiesClicked, focused: hobbiesClicked}') 
        div.fullsize.picture-box-img(style='background-image:url("img/snow.jpg")')
        p.centered.item-text CONTACT
        div.contact-container(ng-if='contactClicked')
          input.form-control.contact-item(ng-model='$parent.contactName', placeholder='Name')
          input.form-control.contact-item(ng-model='$parent.contactEmail', placeholder='Email')
          textarea.form-control.contact-text(ng-model='$parent.contactMessage', placeholder='Message')
          div.row.nomargin
            button.btn.btn-primary.submit-btn.col-md-2(ng-click='sendContactMessage()') Send
            div.col-md-7.contact-err-msg-container(ng-if='shouldShowError && !contactInputValid()')
              p.contact-err-msg Please fill all forms
      div.col-md-4.picture-box(ng-class='{unfocused: !resumeClicked, focused: resumeClicked}', ng-click='openResume()')
        div.fullsize.picture-box-img(style='background-image:url("img/geom-mountain-blue.jpg")')
        p.centered.item-text RESUME
