doctype html
html(lang="en", ng-app="controllerApp")
  head
    meta(charset="utf-8")
    title Bethany V
    meta(name="description", content="Bethany Vodicka, 2016")
    link(rel="stylesheet", href="/libs/bootstrap/css/bootstrap.min.css") 
    link(rel="stylesheet", href="css/main.css")
    //link(rel="icon", href='img/favicon.png')
    //link(rel="icon", href='img/favicon.png', sizes='16x16')
    //link(rel="shortcut icon", href='img/favicon.png')
    script(src="/libs/jquery/jquery.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/angular.js")
    script(src="/libs/angular-resource/angular-resource.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js")
    //script(src="/libs/ui-bootstrap-tpls-1.3.3.min.js")
    block header

  script(src="/js/app.js")
  script(src="/js/home.js")
  //script(src="/js/coder.js")
  //script(src="/js/auditor.js")

  body
    div(ng-view)
